<header class="cms-page">
    <div class="header-wrap-search">
        <div class="header-top">
            <div class="main-menu">
                    <h1 class="logo text-hide"><a href=""><img src="assets/images/logo-white.png" alt=""><span>GOF3R</span></a></h1>
                    <div class="top-action">
                        <div class="user-login user-account">
                            <div class="account">Account</div>
                            <div class="login-wrap">
                                <div class="login">
                                    <div class="d-none d-md-block">LOG IN</div>
                                    <div class="d-block d-md-none">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                        <g >
                                            <g >
                                                <g>
                                                    <path fill="#FFFFFF" d="M8.875,7c1.308,0,2.861-0.776,3.322-1.661c0.084-0.162,0.251-0.265,0.434-0.269
                                                        c0.226,0.014,0.353,0.093,0.444,0.252c0.853,1.494,1.755,1.967,3.206,1.687c0.032-0.007,0.543-0.134,1.113-0.275
                                                        C16.894,3.754,14.666,1.5,12,1.5c-2.54,0-4.678,2.049-5.307,4.819C7.596,6.875,8.239,7,8.875,7z"/>
                                                    <path fill="#FFFFFF" d="M6.527,7.372C6.344,10.156,7.497,12.279,9,13.441v2.206l-4.678,1.671C2.933,17.815,2,19.14,2,20.614V22.5
                                                        C2,22.776,2.224,23,2.5,23h19c0.276,0,0.5-0.224,0.5-0.5v-1.886c0-1.475-0.934-2.8-2.323-3.296L15,15.648v-2.206
                                                        c1.503-1.162,2.594-3.348,2.489-5.704c-0.839,0.294-1.655,0.348-1.948,0.348c-1.194,0-2.134-0.525-2.931-1.635
                                                        C11.756,7.347,10.249,8,8.875,8C8.092,8,7.441,7.859,6.527,7.372z"/>
                                                </g>
                                            </g>
                                            <g >
                                            </g>
                                        </g>
                                        <g >
                                            <rect fill="none" width="24" height="24"/>
                                        </g>
                                        </svg>
                                    </div>
                                </div>
                                
                                <div class="login-dropdown">
                                    <div class="login-dropdown-content loginform-dropdown">
                                        <div class="login-form">
                                            <form action="#">
                                                <input type="text" name="email-login" placeholder="Email Address">
                                                <input type="password" name="pass-login" placeholder="Password">
                                                <button class="btn-main btn-login">LOG IN</button>
                                                <a href="02_Login_03_ForgotPassword.html" class="forgot-pass">Forgot your password?</a>
                                            </form>
                                        </div>
                                        <div class="social-login">
                                            <span class="or"><span>Or</span></span>
                                            <a href="#" class="fb-login"><span>Log in with Facebook</span></a>
                                            <a href="#" class="gplus-login"><span>Log in with Google</span></a>
                                        </div>
                                        <div class="sign-up">
                                            <a href="02_Login_01_SignUp.html">Need an account? Sign up</a>
                                        </div>
                                        <div class="btn-chat">
                                            <button>Chat with support</button>
                                        </div>
                                        <div class="info-login">RESTAURANT LOGIN</div>
                                    </div>
                                    <div class="login-dropdown-content signup-dropdown">
                                        <div class="login-form signup-form">
                                            <div class="title-top">
                                                <div class="title">Sign Up</div>
                                                <a href="02_Login.html" class="back-login"><span>LOGIN</span></a>
                                            </div>
                                            <form action="#">
                                                <input type="text" name="name-signup" placeholder="Full Name">
                                                <input type="text" name="phone-signup" placeholder="Phone Number">
                                                <input type="text" name="email-signup" placeholder="Email Address">
                                                <input type="password" name="pass-signup" placeholder="Password">
                                                <input type="password" name="pass-confirm-signup" placeholder="Confirm Password">
                                                <button class="btn-main btn-login btn-signup">SIGN UP</button>
                                            </form>
                                        </div>
                                        <div class="social-login">
                                            <span class="or"><span>Or</span></span>
                                            <a href="#" class="fb-login"><span>Log in with Facebook</span></a>
                                            <a href="#" class="gplus-login"><span>Log in with Google</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </div>
</header>
    <!--start forgot password step 1-->
    <main *ngIf="showStep1">
        <div class="reset-page">
            <div class="container">
                <div class="reset-form">
                    <div class="title">Reset your Password</div>
                    <div class="text">You will receive a code to reset your password.</div>
                    <div class="input-reset-wrap">
                        <label for="reset-input" class="label-email">Email <span [ngClass]="{'gof3r-error': errorClass==1}" class="note">Required</span></label>
                        <input id="reset-input" [(ngModel)]="inputEmailStr" type="text" name="email-reset">
                        <div *ngIf="showErrorStep1" class="alert-error alert-danger" role="alert">
  {{this.response.ResultDesc}}
</div>
                        <button (click)="checkUserName()" class="btn-main btn-reset"><span>RESET PASSWORD</span></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--end forgot password step 1-->
    <!--start forgot password step 2-->
    <main *ngIf="showStep2">
        <div class="reset-page">
            <div class="container">
                <div class="reset-form">
                    <div class="title">Reset your Password</div>
                    <div class="input-reset-wrap">
                        <div class="input-checked">
                            <input type="radio"  [value]="true" [(ngModel)]="checkMethod" id="r1" name="rr" />
                            <label for="r1"><span></span>Email me a code to reset my password<br><i>{{searchByEmailOrPhone.Email}}</i></label>
                        </div>
                        <div class="input-checked">
                            <input type="radio"  [value]="false" id="r2" [(ngModel)]="checkMethod" name="rr" />
                            <label for="r2"><span></span>Text me a code to reset my password<br><i>{{searchByEmailOrPhone.Phone}}</i></label>
                        </div>
                        <div *ngIf="showErrorStep2" class="alert-error alert-danger" role="alert">
  {{this.response.ResultDesc}}
</div>
                        <button (click)="selectMethodSendCode(customerIdTemp)" class="btn-main btn-reset"><span>SEND</span></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--end forgot password step 2-->

    <!--start forgot password step 3-->
    <main *ngIf="showStep3">
        <div class="reset-page">
            <div class="container">
                <div class="reset-form">
                    <div class="title">Reset your Password</div>
                    <div class="input-reset-wrap">
                        <label for="new-pass" class="label label-email">New Password <span [ngClass]="{'gof3r-error': errorNewPassword==1}" class="note">Required</span></label>
                        <input id="new-pass" [(ngModel)]="newPassword" type="password" name="new-pass">
                        <p></p>
                        <label for="confirm-pass" class="label label-email">Confirm Password <span [ngClass]="{'gof3r-error': errorConfirmPassword==1}" class="note">Required</span></label>
                        <input id="confirm-pass" [(ngModel)]="confirmPassword" type="password" name="confirm-pass">
                        <p></p>
                        <label for="pass-code" class="label label-email">Reset Password Code <span [ngClass]="{'gof3r-error': errorOtp==1}" class="note">Required</span></label>
                        <input id="pass-code" [(ngModel)]="resetCode" type="text" name="pass-code">
                        <div *ngIf="showErrorStep3" class="alert-error alert-danger" role="alert">
  {{this.response.ResultDesc}}
</div>
                        <button (click)="resetPassword(customerIdTemp)" class="btn-main btn-reset"><span>RESET PASSWORD</span></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--end forgot password step 3-->
    <block-ui>
    <!-- Your app markup here -->
    </block-ui>
    <gof3r-footer></gof3r-footer>