<header class="cms-page">
    <div class="header-wrap">
        <div class="header-top">
            <header-checkout></header-checkout>
        </div>
       
    </div>
</header>
    
   

    
    <main >
        <div class="reset-page">
            <div class="container">
                <div class="reset-form">
                    <div class="title">Change Your Password</div>
                    <div class="input-reset-wrap">
                        <label for="current-pass"  class="label label-email">Current Password <span  class="note">Required</span></label>
                        <input id="current-pass" [(ngModel)]="currentPassword" type="password" name="current-pass">
                        <label for="new-pass" class="label label-email">New Password <span  class="note">Required</span></label>
                        <input id="new-pass"  [(ngModel)]="newPassword"  type="password" name="new-pass">
                        <label for="confirm-pass" class="label label-email">Confirm Password <span  class="note">Required</span></label>
                        <input id="confirm-pass"  [(ngModel)]="confirmPassword"   type="password" name="confirm-pass">
                        
</div>
                        <button style="width: 100%; margin-top: 10px" (click)="changePassword()" class="btn-main btn-reset"><span>CHANGE PASSWORD</span></button>
                    </div>
                </div>
            </div>
        
    </main>
    <div id="change-password-error" class="success-popup mfp-hide" style="text-align: center">
        <div class="" style="text-align: center">{{this.error}}</div>
        <!--<div style="cursor: pointer" class="text-center" (click)="trackerOrder()" 
                ><img src="assets/images/ico-succsess.png" alt=""></div>-->
    
                <button type="button" style="width: 100%;margin-top: 10px" class="btn-main btn-select-payment" (click)="okay()">OK</button>
    </div>
    <block-ui>
    <!-- Your app markup here -->
    </block-ui>
    <gof3r-footer></gof3r-footer>