<header class="cms-page">
        <div class="header-wrap-search">
            <div class="header-top">
                <header-checkout></header-checkout>
            </div>
           
        </div>
 </header>
  <main>
        <div class="about-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="sidebar-wrap d-none d-md-block">
                             <myaccount-menu></myaccount-menu>
                            <!--<div class="sb-logout-wrap">
                                <a href="#" class="btn-main btn-logout-sidebar">Log out</a>
                            </div>-->
                        </div>

                        <div class="page-active d-block d-md-none">
                            <div class="title"><span>Order History</span></div>
                        </div>
                        <div class="sidebar-wrap sidebar-mobile">
                            <ul class="sidebar-top">
                                <li><a href="06_Account.html"><span>My Profile</span></a></li>
                                <li><a href="06_Account_01_PaymentOptions.html"><span>PAYMENT OPTIONS</span></a></li>
                                <li><a href="06_Account_02_Address.html"><span>Delivery Addresses</span></a></li>
                                <li><a href="06_Account_04_ReferFriends.html"><span>Refer Friends</span></a></li>
                                <li><a href="#"><span>Settings</span></a></li>
                                <li><a href="06_Account_05_Help.html"><span>Help</span></a></li>
                            </ul>
                            <div class="sb-logout-wrap">
                                <a href="#" class="btn-main btn-logout-sidebar">Log out</a>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isHaveData" class="col-12 col-md-9">
                        <div class="cms-content">
                            <h2 class="page-title">Order Delivery History</h2>
                            <div class="order-history-wrap" *ngFor="let item of customerOrderListMain.CustomerDeliveryOrderList">
                                <div class="order-history-item" *ngFor="let itemOrder of item.DeliveryOrderList">
                                    <div class="order-id">{{itemOrder.CustomerOrderNumber}}</div>
                                    <div class="order-title">
                                        <div class="name">{{itemOrder.MerchantOutletName}}</div>
                                        <div class="text">{{itemOrder.DisplayTotal}}   |   {{itemOrder.OrderStatus}}</div>
                                    </div>
                                    <div class="order-address">
                                        <div class="time">{{itemOrder.OrderDate}}</div>
                                        <div class="address">1010 Main Street, Saskatoon, SK, Canada</div>
                                    </div>
                                    <div class="order-detail">
                                        <a *ngIf="itemOrder.OrderStatus===DELIVERED" [routerLink]="['/order-history-detail','delivery',itemOrder.CustomerOrderId]" style="color: #ffffff" class="btn-main btn-order-detail">Order details</a>
                                        <a *ngIf="itemOrder.OrderStatus!==DELIVERED" style="color: #ffffff" [routerLink]="['/tracker-order','delivery',itemOrder.CustomerOrderId]"
                                        class="btn-main btn-order-detail">Order Tracker</a>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="order-history-paging">
                                Showing 1 to 2 of 2 entries
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <block-ui>
    <!-- Your app markup here -->
</block-ui>
<gof3r-footer></gof3r-footer>