
                        <div class="sidebar-wrap d-none d-md-block">
                            <ul class="sidebar-top">
                                <li (click)="aboutClick()" [ngClass]="{active: isAbout===true}" ><a><span>ABOUT US</span></a></li>
                               <li><a [routerLink]="['/restaurant-owner']">RESTAURANT OWNERS</a></li>
                                <li (click)="faqClick()" [ngClass]="{active: isFAQ===true}"><a ><span>FAQ</span></a></li>
                                <li><a [routerLink]="['/become-courier']">BECOME A COURIER</a></li>
                                <li><a href="#"><span>CAREERS</span></a></li>
                            </ul>
                            <ul class="sidebar-bottom">
                                <li (click)="privacyClick()" [ngClass]="{active: isPrivacy===true}"><a><span>PRIVACY</span></a></li>
                                <li (click)="termsClick()" [ngClass]="{active: isterms===true}"><a><span>TERMS</span></a></li>
                                <li><a [routerLink]="['/contact-us']"
                        >CONTACT US</a></li>
                            </ul>
                        </div>

                        <div class="page-active d-block d-md-none">
                            <div class="title"><span>ABOUT US</span></div>
                        </div>
                        <div class="sidebar-wrap sidebar-mobile">
                            <ul class="sidebar-top">
                                <li><a href="03_About_01_RestaurantOwners.html"><span>RESTAURANT OWNERS</span></a></li>
                                <li><a href="03_About_02_FAQ.html"><span>FAQ</span></a></li>
                                <li><a href="03_About_03_BecomeCourier.html"><span>BECOME A COURIER</span></a></li>
                                <li><a href="#"><span>CAREERS</span></a></li>
                            </ul>
                            <ul class="sidebar-bottom">
                                <li><a href="#"><span>PRIVACY</span></a></li>
                                <li><a href="#"><span>TERMS</span></a></li>
                                <li><a href="03_About_04_ContactUs.html"><span>CONTACT US</span></a></li>
                            </ul>
                        </div>
                    