<body class="cms-page">
    <header>
        <div class="header-wrap">
            <div class="header-top">
                <header-checkout></header-checkout>
            </div>
        </div>
    </header>
    <main>
        <div class="about-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <footer-left></footer-left>
                    </div>

                    <div class="col-12 col-md-9">
                        <div class="cms-content cms-faq">

                            <div class="text-content">
                                <div class="faq-title">POSITIONS AVAILABLE</div>
                                <div class="faq-content">
                                    <div class="faq-question">Part-time CS position</div>
                                    <blockquote>
                                        Job Description :<br /><br />
                                        <i class="fa fa-asterisk" style="padding-right: 10px" aria-hidden="true"></i>Be the first point of contact for merchants, customers and riders whenever an order is received.<br /><br />
                                        <i class="fa fa-asterisk" style="padding-right: 10px" aria-hidden="true"></i>
                                        Assign orders to the relevant rider on the timely basis, and ensure rider has received jod and order details.
                                        <br /><br />
                                        <i class="fa fa-asterisk" style="padding-right: 10px" aria-hidden="true"></i>
                                        Ensure merchant has received the order, prepare it accordingly so that it is ready for pickup by rider.
                                        <br /><br />
                                        <i class="fa fa-asterisk" style="padding-right: 10px" aria-hidden="true"></i>
                                        Coordinate and expedite all orders between merchants and riders to ensure timely delivery to customers.
                                        <br /><br />
                                        <i class="fa fa-asterisk" style="padding-right: 10px" aria-hidden="true"></i>
                                        Contact customers when an item is unavailable  to find out preferred replacement.
                                        <br /><br />
                                        <i class="fa fa-asterisk" style="padding-right: 10px" aria-hidden="true"></i>
                                        Contact customers when an order is running late.
                                        <br /><br />
                                        <i class="fa fa-asterisk" style="padding-right: 10px" aria-hidden="true"></i>
                                        Respond to customer queries on the phone promptly and accurately.
                                        <br />
                                        <button (click)="apllyNow()" style="width: 200px;margin-top: 10px" class="btn-main btn-apply"><span>APPLY NOW</span></button>

                                    </blockquote>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div id="success-popup" style="background: #d9d9d9" class="success-popup mfp-hide">
        <div class="form-apply1">
            <div class="title">Get Started</div>
            <div class="text">Leave us your contact details and we’ll be in touch soon.</div>
            <form action="#" style="padding-top: 15px;">
                <div class="input-apply">
                    <label for="restaurant-name" class="label">Full Name <span class="note">Required</span></label>
                    <input id="restaurant-name"  [(ngModel)]="this.candidateModel.Name" type="text" name="restaurant-name">
                </div>
                <div class="input-apply">
                    <label for="contactnane-input" class="label">Email <span class="note">Required</span></label>
                    <input id="contactnane-input"  [(ngModel)]="this.candidateModel.Email" type="text" name="contact-name">
                </div>
                <div class="input-apply">
                    <label for="phone-input" class="label">Mobile Number<span class="note">Required</span></label>
                    <input id="phone-input" [(ngModel)]="this.candidateModel.Phone" type="text" name="contact-phone">
                </div>

                <div class="input-apply">
                    <label for="else-input" class="label">Any superpowers we should know of </label>
                    <textarea name="else" [(ngModel)]="this.candidateModel.Notes" id="else-input" rows="10"></textarea>
                </div>
                <div class="custom-file" style="padding-top: 25px">
                    <input type="file" (change)="fileChange($event)"  style="padding-top: 20px;" class="custom-file-input" id="validatedCustomFile" required>
                    <label style="margin-top: 15px;" class="custom-file-label" for="validatedCustomFile">{{nameFile}}</label>
                    <!--<div class="invalid-feedback">Example invalid custom file feedback</div>-->
                </div>
                <button style="width: 100%"  (click)="gof3rIt()" class="btn-main btn-apply"><span>GOF3R IT</span></button>
            </form>
            <!--<div class="login-here">
                            <div class="text">Already a member of the network? Email us at restaurants@GOF3R.com with any questions or click below to log into your GOF3R Restaurant Portal.</div>
                            <a href="02_Login.html">LOGIN HERE</a>
                        </div>-->
        </div>


    </div>
     <block-ui>
    <!-- Your app markup here -->
</block-ui>
<div id="success-popup1" class="success-popup mfp-hide" style="text-align: center">
            <div class="" style="text-align: center">{{this.message }}</div>
            <!--<div style="cursor: pointer" class="text-center" (click)="trackerOrder()" 
            ><img src="assets/images/ico-succsess.png" alt=""></div>-->
            
           
    </div>
    <gof3r-footer></gof3r-footer>

</body>