<body class="cms-page">
    <header>
        <div class="header-wrap">
            <div class="header-top">
                <header-checkout></header-checkout>
            </div>
        </div>
    </header>
    <main>
        <div class="about-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <footer-left></footer-left>
                    </div>
                    
                    <div class="col-12 col-md-9">
                        <div class="cms-content">
                            <h2 class="page-title">About Us</h2>
                            <div class="text-content">
                                <p>Say hello to GOF3R.
Inspired by daily conversations (we hear you), GOF3R was created to help busy individuals with errands and chores, so it frees up your day for the really important things in life.<br />
Whether it’s your favourite chicken rice down the road or your daily essentials of milk and bread, GOF3R’s got you covered.<br />
Have your food and groceries delivered by our friendly GOF3R riders, right up to your doorstep, wherever you may be.<br />
Or skip the queue when you pre-order, swing by at a time of your preference, and pick up your order to go. No waiting in line or fussing with payment or change.
Simply order and pay in-app to enjoy the convenience GOF3R brings!
</p>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <gof3r-footer></gof3r-footer>
    
</body>