<header class="cms-page">
        <div class="header-wrap-search">
            <div class="header-top">
                <header-checkout></header-checkout>
            </div>
           
        </div>
 </header>
 <main>
        <div class="about-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="sidebar-wrap d-none d-md-block">
                            <myaccount-menu></myaccount-menu>
                            <!--<div class="sb-logout-wrap">
                                <a href="#" class="btn-main btn-logout-sidebar">Log out</a>
                            </div>-->
                        </div>

                        <div class="page-active d-block d-md-none">
                            <div class="title"><span>Refer Friends</span></div>
                        </div>
                        <div class="sidebar-wrap sidebar-mobile">
                            <ul class="sidebar-top">
                                <li><a href="06_Account.html"><span>My Profile</span></a></li>
                                <li><a href="06_Account_01_PaymentOptions.html"><span>PAYMENT OPTIONS</span></a></li>
                                <li><a href="06_Account_02_Address.html"><span>Delivery Addresses</span></a></li>
                                <li><a href="06_Account_03_OrderHistory.html"><span>Order History</span></a></li>
                                <li><a href="#"><span>Settings</span></a></li>
                                <li><a href="06_Account_05_Help.html"><span>Help</span></a></li>
                            </ul>
                            <div class="sb-logout-wrap">
                                <a href="#" class="btn-main btn-logout-sidebar">Log out</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="cms-content">
                            <h2 class="page-title">Refer Friends</h2>
                            <div class="refer-wrap">
                                <div class="img-gift">
                                    <img src="assets/images/ico-gift.png" alt="">
                                </div>
                                <div class="title">Share the goodness of GOF3R. <a href="#" class="note"><img src="assets/images/ico-refer-help.png" alt=""></a></div>
                                <div class="text">Your referral link.<br><a ngxClipboard [cbContent] ="this.getInitialParams.CustomerInfo[0].ReferralURL"class="link-refer">{{this.getInitialParams.CustomerInfo[0].ReferralURL}}</a></div>

                                <div class="or"><span>OR</span></div>
                                <a href="#" class="btn-main btn-refer"><span>SHARE</span></a>
                                <a style="color: #ffffff" (click)="copyToClipboard(this.getInitialParams.CustomerInfo[0].ReferralURL)" class="btn-main btn-refer"><span>{{textCopy}}</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <gof3r-footer></gof3r-footer>