<body class="cms-page">
    <header>
        <div class="header-wrap">
            <div class="header-top">
                <header-checkout></header-checkout>
            </div>
        </div>
    </header>
    <main>
        <div class="about-page">
            <div class="container">
                <div class="row">
                     <div class="col-12 col-md-3">
                        <footer-left></footer-left>
                    </div>
                    <div class="col-12 col-md-9">
                        <!--<div class="col-left">
                            <div class="title">Need help with an order?</div>
                            <div class="text">We're here to help, chat with our support team.</div>
                            <div class="btn-contact-wrap">
                                <button class="btn-main btn-contact"><span>CHAT NOW</span></button>
                            </div>
                        </div>-->
                        <form style="margin-top: 10px">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name</label>
                                <input type="text" [(ngModel)]="this.sendToucht.FullName" name="full-name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
                                
                            </div>
                             <div class="form-group">
                                <label for="exampleInputEmail1">Phone number</label>
                                <input type="text" [(ngModel)]="this.sendToucht.Phone" name="phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter phone number">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your phone number with anyone else.</small>
                            </div>
                             <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="text" [(ngModel)]="this.sendToucht.Email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Content</label>
                                <textarea  type="text" [(ngModel)]="this.sendToucht.Content" name="content" class="form-control" id="exampleInputPassword1" placeholder="Enter content"></textarea>
                            </div>
                            <!--<div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>-->
                            <button type="button" (click)="sendTouchRequest()" style="background-color: #8e49fe;width: 100%" class="btn btn-primary">GOF3R IT</button>
                        </form>
                    </div>
                    <!--<div class="col-12 col-md-8 col-lg-6">
                        <div class="col-right">
                            <div class="title">Media Inquiries</div>
                            <div class="text">Thank you for connecting with GOF3R. Please email to let us know the nature of your story, what you're looking for, and your deadline. A member of our media relations team will be in touch as soon as possible.<br/><br/>

                            <a href="mailto:media@gof3r.com" class="email">media@gof3r.com</a>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </main>
    <div id="success-popup" class="success-popup mfp-hide" style="text-align: center">
            <div class="" style="text-align: center">{{this.message }}</div>
            <!--<div style="cursor: pointer" class="text-center" (click)="trackerOrder()" 
            ><img src="assets/images/ico-succsess.png" alt=""></div>-->
            
           
    </div>
    <block-ui>
    <!-- Your app markup here -->
</block-ui>
    <gof3r-footer> </gof3r-footer>
    <!-- Optional JavaScript -->

</body>