<body class="cms-page">
    <header>
        <div class="header-wrap">
            <div class="header-top">
                <header-checkout></header-checkout>
            </div>
        </div>
    </header>
    <main>
        <div class="about-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <footer-left></footer-left>
                    </div>
                    
                    <div class="col-12 col-md-9">
                        <div class="cms-content">
                            <h2 class="page-title">Terms</h2>
                            <div class="text-content" style="color: #000000">
                                <p>
	
		We, <strong>Sandbox Technology Pte. Ltd.</strong> (UEN No. 201537393C),
		a company incorporated in Singapore and having its registered office at
		62 Ubi Road 1 #05-26, Oxley Bizhub 2, Singapore 408734 hereby grant you
		a personal, non-transferrable, non-exclusive licence to use the mobile
		application software
	
	Carrot and any updates or supplements to it (the "<strong>App</strong>"),
the data and content supplied with the App (collectively, the "	<strong>Data</strong>") and the services in relation to the use of the App
	(collectively, the "<strong>Service</strong>"), on the terms and conditions
	as set out herein.
</p>
<p>
	<strong>1. </strong>
	<strong>Terms of use</strong>
</p>
<p>
	1.1 The App is developed and owned by us.
</p>
<p>
1.2 These terms (together with the documents referred to herein) ("	<strong>terms of use</strong>") govern your use of the App, the Data and
	the Service as a registered user.
</p>
<p>
	1.3 Please read these terms of use carefully before you start to use the
	App, the Data and the Service, as these will apply to your use of the App,
	the Data and the Service.
</p>
<p>
	1.4 You represent that you are of legal age to use the App, the Data and
	the Service in accordance with these terms of use and to create binding
	legal obligations for any liability you may incur as a result of the use of
	the App, the Data and/or the Service.
</p>
<p>
	<strong>2. </strong>
	<strong>Other applicable terms</strong>
</p>
<p>
	These terms of use include the following additional terms, which also apply
	to your use of the App, the Data and the Service:
</p>
<p>
	(a) Our Privacy Policy, which sets out the terms on which we process, use,
	disclose and store any personal data we collect from you, or that you
	provide to us. By using the App, any Data and/or Service, you consent to
	such processing, use, disclosure, storage and transfer and you warrant that
	all data provided by you is accurate.
</p>
<p>
	(b) The ways in which you can use the App, any Data and/or Service may also
	be controlled by App Store's or Google Play's rules and policies.
</p>
<p>
	(c) Any other terms and/or instructions we may prescribe from time to time
in relation to the use of our website www.carrot-rewards.com (the "	<strong>Website</strong>"), any transactions you conduct via the App and/or
	otherwise.
</p>
<p>
	<strong>3. </strong>
	<strong>Changes to these terms</strong>
</p>
<p>
	3.1 We may revise these terms from time to time.
</p>
<p>
	3.2 We will notify you of any changes to these terms when you next start
	the App. If you do not re-login to the App and accept the notified changes
	upon such notification, you may not be permitted to continue to use the
	App, the Data and/or the Service.
</p>
<p>
	<strong>4. </strong>
	<strong>Changes to the App, Data and Service</strong>
</p>
<p>
	4.1 We may automatically update the App from time to time, and may change
	any Data and/or Service at any time. Alternatively, we may ask you to
	update the App. If you choose not to install such updates or if you opt out
	of automatic updates, you may not be able to continue using the App, the
	Data and/or the Service.
</p>
<p>
	4.2 Without limiting the above, we may from time to time change any Data
	and Service in relation to any merchant, any deal offered by a merchant in
	connection with the App (each a "<strong>Merchant Deal</strong>") and/or
	any product of a merchant (including without limitation, the availability
	of any Merchant Deal and/or product of a merchant for any specified period
	of time). You agree to use all your loyalty points issued and configured by
	us for any specific merchant, in relation to us or otherwise in connection
	with the App ("<strong>Loyalty Points</strong>") and/or all your prepaid
credits in relation to any prepaid wallet ("	<strong>Prepaid Credits</strong>") within the expiry period that we may
	notify you from time to time. You further agree that any of your Loyalty
	Points and/or Prepaid Credits that are not used by such expiry period shall
	be forfeited and no refunds shall be payable to you pursuant thereto.
</p>
<p>
	<strong>5. </strong>
	<strong>Operating System Requirements </strong>
</p>
<p>
	The App requires a mobile or handheld device and the IOS version 9 or
	Android version 4 (as the case may be) operating system or such other
	requirement(s) pursuant to any change(s) and/or update(s) of the App from
	time to time.
</p>
<p>
	<strong>6. </strong>
	<strong>Download and Use </strong>
</p>
<p>
	6.1 In return for your agreeing to comply with these terms you may:
</p>
<p>
	(a) download or stream a copy of the App and view, use and/or display the
	App, Data and/or the Service on such devices for your personal purposes
	only;
</p>
<p>
	(b) use the Data on the App to support your permitted use of the App and
	the Service; and
</p>
<p>
	(c) receive and use any free supplementary software code or update of the
	App incorporating "patches" and corrections of errors as we may provide to
	you.
</p>
<p>
	6.2 If you download or stream the App onto any phone or other device not
	owned by you, you must have the owner's permission to do so. You will be
	responsible for complying with these terms, whether or not you own the
	phone or other device.
</p>
<p>
	6.3 You agree to use the App, Data and/or Service (including any purchase
	of Loyalty Points from us or any merchant, any purchase of Prepaid Credits
	from any merchant, any transaction with another User, any use of Loyalty
	Points and/or Prepaid Credits, any payment via the App using your credit /
	debit card (an "<strong>App Payment</strong>") and any other transaction
	you conduct in relation to the App) in accordance with any instructions
	that we may prescribe from time to time.
</p>
<p>
	<strong>7. </strong>
	<strong>Transfer</strong>
</p>
<p>
	We are giving you personally the right to use the App, the Data and the
	Service in accordance with these terms. You may not transfer the App, any
	Data and/or Service to someone else, whether for money, for anything else
	or for free. If you sell any device on which the App is installed, you must
	remove the App from it.
</p>
<p>
	<strong>8. </strong>
	<strong>Charges and service fee payable </strong>
</p>
<p>
	8.1 In consideration of your use of App, the Data and the Service in
	accordance with these terms, you agree to pay us the following amounts:
</p>
<p>
	8.1.1 <strong>Charges</strong>
</p>
<p>
	3% of the purchase price of any Loyalty Points that you purchase from
	another App user using your credit / debit card via the App.
</p>
<p>
	8.1.2 <strong>Service Fee</strong>
</p>
<p>
	1% of the transaction value of Prepaid Credits, Loyalty Points, memberships
	or Merchant Deals (as the case may be) pursuant to relevant transactions
	you conduct via the App, including:
</p>
<p>
	(a) purchasing Prepaid Credits from a merchant;
</p>
<p>
	(b) purchasing Loyalty Points from a merchant;
</p>
<p>
	(c) purchasing Loyalty Points from us;
</p>
<p>
	(d) transferring Prepaid Credits to another App user;
</p>
<p>
	(e) selling Loyalty Points to another App user;
</p>
<p>
	(f) moving your Loyalty Points in relation to a merchant to be your Loyalty
	Points of another merchant;
</p>
<p>
	(g) using your Loyalty Points for a Merchant Deal;
</p>
<p>
	(h) using your Prepaid Credits for a Merchant Deal or any other product;
</p>
<p>
	(i) purchasing a VIP membership in relation to a merchant's loyalty program
	under the App; and
</p>
<p>
	(j) any other transaction as notified by us from time to time.
</p>
<p>
	8.1.3 <strong>Transaction Value</strong>
</p>
<p>
	The transaction value of: (a) all Loyalty Points purchased by you from us
	or from a merchant in accordance with the relevant point value as
	determined by us or the merchant (as the case may be); (b) all Prepaid
	Credits purchased by you from a merchant; and (c) all App Payments
	conducted by you.
</p>
<p>
	8.2 The above amounts payable to us shall be payable upon the completion of
	any transaction described above.
</p>
<p>
	8.3 When you input the relevant details of your credit / debit card to your
	user account authorising the use of such card for purposes of conducting
your payment transactions via the App (a "	<strong>Card Authorisation</strong>"), a verification fee of S$1.00 will be
	charged to that card. This charge will be reversed after the verification
	process in relation to that Card Authorisation has been successful and duly
	completed. You further agree to indemnify us, our employees, officers and
agents, successors and permitted assigns (collectively, the "	<strong>Indemnified Parties</strong>") from and against all liabilities,
	claims, damages or losses of whatever nature which may be suffered or
	incurred by any of the Indemnified Parties that arise in connection with
	any misconduct, unauthorised, unlawful or fraudulent act by you in
	connection with any Card Authorisation and/or any transaction pursuant
	thereto.
</p>
<p>
	8.4 Any refunds of service fees paid to us shall be subject to our prior
	approval as we may decide in our sole discretion.
</p>
<p>
	<strong>9. </strong>
	<strong>Incentive Loyalty Points</strong>
</p>
<p>
	9.1 You may, in accordance with our incentive programs as applicable from
	time to time, be entitled to such number of incentive Loyalty Points in
	relation to us, upon the completion of any of the following:
</p>
<p>
	(a) upon your first successful download of the App during a valid
	promotional period; or
</p>
<p>
	(b) if an eligible referred friend (who is not an existing registered user
	of the App) inputs your mobile number (or such other information as
	requested by us identifying you as the referrer) accurately during
	registration and successfully downloads the App for the first time.
</p>
<p>
	Such number of incentive Loyalty Points in relation to us upon the
	completion of any of the above shall be credited to your account at no
	additional charge or fee in accordance with our applicable incentive
	programs.
</p>
<p>
	9.2 We may amend the terms of our incentive programs from time to time.
</p>
<p>
	<strong>10. </strong>
	<strong>Your account and password</strong>
</p>
<p>
	10.1 If you choose, or you are provided with, a user identification code,
	password or any other piece of information as part of our security
	procedures, you must treat such information as confidential. You must not
	disclose it to any third party.
</p>
<p>
	10.2 We have the right to disable any user identification code or password,
	whether chosen by you or allocated by us, at any time, if in our reasonable
	opinion you have failed to comply with any of the provisions of these terms
	of use.
</p>
<p>
	<strong>11. </strong>
	<strong>Licence use and restrictions</strong>
</p>
<p>
	11.1 You agree that you will:
</p>
<p>
	(a) not rent, lease, sub-license, loan, provide, or otherwise make
	available, the App or any Data and/or Service in any form, in whole or in
	part to any person without prior written consent from us;
</p>
<p>
	(b) not copy the App or any Data, except as part of the normal use of the
	App or where it is necessary for the purpose of back-up or operational
	security;
</p>
<p>
	(c) not translate, merge, adapt, vary, alter or modify, the whole or any
	part of the App, Data and/or Service nor permit the App, Data and/or
	Service or any part of them to be combined with, or become incorporated in,
	any other programs, except as necessary to use the App, Data and/or Service
	on devices as permitted in these terms;
</p>
<p>
	(d) not disassemble, de-compile, reverse engineer or create derivative
	works based on the whole or any part of the App, Data and/or Service nor
	attempt to do any such things, except to as permitted under relevant laws;
	and
</p>
<p>
	(e) comply with all applicable technology or laws and regulations that
	apply to the technology used or supported by the App, any Data and/or
	Service.
</p>
<p>
	11.2 You must:
</p>
<p>
	(a) not use the App, any Data and/or Service in any unlawful manner, for
	any unlawful purpose, or in any manner inconsistent with these terms, or
	act fraudulently or maliciously, for example, by hacking into or inserting
	malicious code, such as viruses, or harmful data, into the App, any Data
	and/or Service and/or any operating system;
</p>
<p>
	(b) not infringe our intellectual property rights or those of any third
	party in relation to your use of the App, any Data and/or Service (to the
	extent that such use is not licensed by these terms);
</p>
<p>
	(c) not transmit any material that is defamatory, offensive or otherwise
	objectionable in relation to your use of the App, any Data and/or Service;
</p>
<p>
	(d) not use the App, any Data and/or Service in a way that could damage,
	disable, overburden, impair or compromise our systems or security or
	interfere with other users; and
</p>
<p>
	(e) not collect or harvest any information or data from any Data, Service
	and/or our systems or attempt to decipher any transmissions to or from the
	servers running any Service.
</p>
<p>
	<strong>12. </strong>
	<strong>Intellectual property rights</strong>
</p>
<p>
	All intellectual property rights in the App, Data and the Service
	throughout the world belong to us (or our licensors) and the rights in the
	App, Data and the Service are licensed (not sold) to you. You have no
	intellectual property rights in, or to, the App, any Data or Service other
	than the right to use them in accordance with these terms.
</p>
<p>
	<strong>13. </strong>
	<strong>No reliance on information</strong>
</p>
<p>
	13.1 The Data on the App is provided "as is".
</p>
<p>
	13.2 Although we make reasonable efforts to update the information on the
	App, we make no representations, warranties or guarantees, whether express
	or implied, that the Data on the App is accurate, complete or up-to-date
	(including without limitation, the participation of any merchant or the
	availability of any Merchant Deal and/or product for any specified period
	of time).
</p>
<p>
	<strong>14. </strong>
	<strong>Limitation of our liability</strong>
</p>
<p>
	14.1 Nothing in these terms of use excludes or limits our liability for
	death or personal injury arising from our negligence, our fraud or
	fraudulent misrepresentation, our wilful misconduct or any other liability
	that cannot be excluded or limited by Singapore law.
</p>
<p>
	14.2 To the extent permitted by law, we exclude all conditions, warranties,
	representations or other terms which may apply to the App, any Data and/or
	Service, whether express or implied.
</p>
<p>
	14.3 We will not be liable to any user for any loss or damage, whether in
	contract, tort (including negligence), breach of statutory duty, or
	otherwise, even if foreseeable, arising under or in connection with the use
	of, or inability to use, the App, any Data and/or Service.
</p>
<p>
	14.4 Without limiting the above, we will not be liable to anyone for:
</p>
<p>
	(a) loss of profits, sales, business, or revenue;
</p>
<p>
	(b) business interruption;
</p>
<p>
	(c) loss of anticipated savings;
</p>
<p>
	(d) loss of business opportunity, goodwill or reputation; or
</p>
<p>
	(e) any indirect or consequential loss or damage.
</p>
<p>
	14.5 Without limiting the above, we will not be liable for any loss or
	damage:
</p>
<p>
	(a) caused by a virus, distributed denial-of-service attack, or other
	technologically harmful material that may infect your computer equipment,
	computer programs, data or other proprietary material due to your use of
	the App, any Data and/or Service or to your downloading of any Data in
	relation to the App and/or any Service;
</p>
<p>
	(b) in relation to any error, failure, delay, interruption, suspension,
	breakdown, outage, maintenance, repair, inspection, modification and/or
	problem of our systems (and/or any equipment, software and/or firmware in
	relation thereto) or that of any systems, equipment, software, firmware or
	services of any of our third party service providers howsoever arising,
	including without limitation pursuant to any telecommunication problems,
	power supply problems, internet-related problems and problems with the
	computer systems and information systems of credit card companies and
	banks;
</p>
<p>
	(c) arising out of any refunds, rejections, complaints, claims, actions and
	disputes in relation to any product and/or Merchant Deal featured on or
	otherwise in connection with the App and/or the Website whether pursuant to
	any illegal, false, outdated, inaccurate, misleading or incomplete
	information, advertising, publicity and promotion, any defects and poor
	quality of any product and/or Merchant Deal featured on or otherwise in
	connection with the App.
</p>
<p>
	14.6 We assume no responsibility for the content of websites linked to the
	App, any Data and/or Service. Such links should not be interpreted as
	endorsement by us of those linked websites. We will not be liable for any
	loss or damage that may arise from your use of them.
</p>
<p>
	<strong>15. </strong>
	<strong>Links</strong>
</p>
<p>
	15.1 The App, Data and/or Service may contain links to other independent
	websites which are not provided by us. Such independent sites are not under
	our control, and we are not responsible for and have not checked and
	approved their content or their privacy policies (if any).
</p>
<p>
	15.2 You will need to make your own independent judgement about whether to
	use any such independent sites, including whether to buy any products or
	services offered by them.
</p>
<p>
	<strong>16. </strong>
	<strong>Breach of these terms</strong>
	<strong> </strong>
	<strong></strong>
</p>
<p>
	16.1 We have the right to immediately end your rights to use the App, the
	Data and the Service at any time by giving such notice to you if you have
	broken any of these terms.
</p>
<p>
	16.2 If we end your rights to use the App, the Data and the Service
	pursuant to Clause 16.1:
</p>
<p>
	(a) You must stop all activities authorised by these terms, including your
	use of the App, any Data and Service.
</p>
<p>
	(b) You must delete or remove the App and all Data from all devices in your
	possession and immediately destroy all copies of the App and Data which you
	have and confirm to us that you have done this.
</p>
<p>
	(c) We may remotely access your devices and remove the App and any Data
	from them and cease providing you with access to the Service.
</p>
<p>
	(d) To the extent unpaid, you shall pay us any amounts payable to us
	hereunder for the App, any Data and/or Service up to the date of
	termination.
</p>
<p>
	(e) To the extent unused, all Prepaid Credits and Loyalty Points in your
	wallets under the App as at the date of termination shall be forfeited and
	no refunds shall be payable to you pursuant thereto.
</p>
<p>
	<strong>17. </strong>
	<strong>Assignment and Transfer</strong>
</p>
<p>
	You shall not be entitled to, nor shall you purport to, assign this
	Agreement or transfer any of your rights and/or obligations hereunder. We
	may upon notification to you, transfer (whether by an assignment or
	novation) any or all of our rights and/or obligations hereunder.
</p>
<p>
	<strong>18. </strong>
	<strong>Rights of third parties</strong>
</p>
<p>
	A person who is not a party hereto shall have no right under the Contracts
	(Rights of Third Parties) Act (Cap. 53B) to enforce any of its terms.
</p>
<p>
	<strong>19. </strong>
	<strong>Non-waiver</strong>
</p>
<p>
	No failure by us to exercise, and no delay on our part in exercising, any
	right or remedy under this Agreement or by law will operate as a waiver
	thereof, nor will any single or partial exercise of any right or remedy by
	us preclude or restrict any other or further exercise thereof or the
	exercise of any other right or remedy. <strong></strong>
</p>
<p>
	<strong>20. </strong>
	<strong>Severance</strong>
</p>
<p>
	If any provision or part-provision herein is or becomes invalid, illegal or
	unenforceable, it shall be deemed modified to the minimum extent necessary
	to make it valid, legal and enforceable. If such modification is not
	possible, the relevant provision or part-provision shall be deemed deleted.
	Any modification to or deletion of a provision or part-provision pursuant
	to this Clause shall not affect the validity and enforceability of the rest
	of these terms.
</p>
<p>
	<strong>21. </strong>
	<strong>Communications</strong>
</p>
<p>
	21.1 <strong>Support.</strong> If you want to learn more about the App or
	the Service or have any problems using them, please take a look at our
	support resources at the Website.
</p>
<p>
	21.2 <strong>Contacting us</strong>. If you wish to contact us, please
	email our customer service team at hello@carrot-rewards.com.
</p>
<p>
	<strong>22. </strong>
	<strong>Applicable law</strong>
</p>
<p>
	22.1 These terms of use are governed by Singapore law.
</p>
<p>
	22.2 You agree that the courts of Singapore will have non-exclusive
	jurisdiction in the case of any dispute.
</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <gof3r-footer></gof3r-footer>
    
</body>