<body class="cms-page-courier">
    <header>
        <div class="header-wrap">
            <div class="header-top">
                <div class="main-menu">
                    <h1 class="logo text-hide"><a href=""><img src="assets/images/logo.png" alt=""><span>GOF3R</span></a></h1>
                </div>
            </div>
            <div class="header-content">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="slogan-form">
                                <h2 class="large wow fadeIn" data-wow-duration="1s">Deliver with GOF3R</h2>
                                <div class="small wow fadeIn" data-wow-duration="2s">In just a few easy steps, you’ll be cruising towards making extra money. It’s a flexible opportunity that you can customize to fit your lifestyle.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="courier-signup-wrap">
            <div class="container">
                <div class="courier-signup-form">
                    <form action="#">
                        <div class="progress-courier">
                            <div class="title">Step 1 of 2</div>
                            <div class="percent-step"><span class="percent" style="width: 50%;"></span></div>
                        </div>
                        <div class="title-form">Sign Up Now</div>
                        <div class="input-form">
                            <label for="sign-name">First Name</label>
                            <input id="sign-name" type="text">
                        </div>
                        <div class="input-form">
                            <label for="sign-last">Last Name</label>
                            <input id="sign-last" type="text">
                        </div>
                        <div class="input-form">
                            <label for="sign-email">Email</label>
                            <input id="sign-email" type="text">
                        </div>
                        <div class="input-form">
                            <label for="sign-phone">Phone</label>
                            <input id="phone" type="text">
                        </div>
                        <div>
                            <button class="btn-main btn-next"><span>Next</span></button>
                        </div>
                        <div class="text"><strong>Already have an account?</strong> <a href="02_Login.html">Login Here</a></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="courier-service-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="courier-service-block">
                            <div class="title">Choose Your Schedule</div>
                            <div class="text">You are in control of your own schedule and can adjust your weekly availability based on what works for you.</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="courier-service-block weekly">
                            <div class="title">Get Paid Weekly</div>
                            <div class="text">At the end of each week, your earnings and tips will be directly deposited into your account every week.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="courier-why-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-9 col-md-6">
                        <div class="courier-why-inner">
                            <div class="courier-why-info">
                                <div class="title">Why gof3r?</div>
                                <div class="text">GOF3R couriers are independently contracted and enjoy the flexibility of working on their own schedules to deliver great food to hungry customers.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="courier-why-btn">
                            <button type="button" class="btn-main btn-play"><span>WATCH THE VIDEO</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-video"></div>
        </div>
        <div class="courier-get-started-wrap">
            <div class="container">
                <div class="courier-get-started-inner">
                    <div class="title">How To Get Started</div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="courier-get-started-content">
                                <div class="number"><span>1</span></div>
                                <div class="title-block">Sign Up</div>
                                <div class="text">Create an account, uploatd your documents, and complete a quick screening call with a member of our team.</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="courier-get-started-content">
                                <div class="number"><span>2</span></div>
                                <div class="title-block">Download the Courier App</div>
                                <div class="text">Create an account, uploatd your documents, and complete a quick screening call with a member of our team.</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="courier-get-started-content">
                                <div class="number"><span>3</span></div>
                                <div class="title-block">Earn Money</div>
                                <div class="text">Create an account, uploatd your documents, and complete a quick screening call with a member of our team.</div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-courier-wrap">
                        <a href="#" class="btn-main btn-apply-courier"><span>Apply Now</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="courier-question-wrap">
            <div class="container">
                <div class="courier-question-inner">
                    <div class="title">Questions</div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="courier-question-block">
                                <div class="title-top">HOW TO EARN WITH SKIP</div>
                                <div class="question-link">
                                    <a href="#"><span>How do I make money?</span></a>
                                </div>
                                <div class="question-link">
                                    <a href="#"><span>How much do I make?</span></a>
                                </div>
                                <div class="question-link">
                                    <a href="#"><span>How many orders can I expect to deliver</span></a>
                                </div>
                                <div class="question-link">
                                    <a href="#"><span>When do I get paid?</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="courier-question-block">
                                <div class="title-top">GETTING STARTED WITH SKIP</div>
                                <div class="question-link">
                                    <a href="#"><span>What do I need to be a courier?</span></a>
                                </div>
                                <div class="question-link">
                                    <a href="#"><span>When can I get started?</span></a>
                                </div>
                                <div class="question-link">
                                    <a href="#"><span>What does it mean to be independently contracted?</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="courier-deliver-wrap">
            <div class="container">
                <div class="title">Deliver with GOF3R</div>
                <a href="#" class="btn-main btn-apply-deliver"><span>Apply now</span></a>
            </div>
        </div>
    </main>
    <gof3r-footer></gof3r-footer>
    <!-- Optional JavaScript -->
    <!--<script src="js/bootstrap.min.js"></script>
    <script>
        new WOW().init();
    </script>-->
</body>