<body class="cms-page-restaurant">
    <header>
        <div class="header-wrap">
            <div class="header-top">
                <div class="main-menu">
                    <h1 class="logo text-hide"><a href=""><img src="assets/images/logo.png" alt=""><span>GOF3R</span></a></h1>
                    <div class="top-action">
                        <div class="user-login user-account">
                            <div class="account">Account</div>
                            <div class="login-wrap">
                                <div class="login">
                                    <div class="d-none d-md-block">LOG IN</div>
                                    <div class="d-block d-md-none">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                        <g >
                                            <g >
                                                <g>
                                                    <path fill="#FFFFFF" d="M8.875,7c1.308,0,2.861-0.776,3.322-1.661c0.084-0.162,0.251-0.265,0.434-0.269
                                                        c0.226,0.014,0.353,0.093,0.444,0.252c0.853,1.494,1.755,1.967,3.206,1.687c0.032-0.007,0.543-0.134,1.113-0.275
                                                        C16.894,3.754,14.666,1.5,12,1.5c-2.54,0-4.678,2.049-5.307,4.819C7.596,6.875,8.239,7,8.875,7z"/>
                                                    <path fill="#FFFFFF" d="M6.527,7.372C6.344,10.156,7.497,12.279,9,13.441v2.206l-4.678,1.671C2.933,17.815,2,19.14,2,20.614V22.5
                                                        C2,22.776,2.224,23,2.5,23h19c0.276,0,0.5-0.224,0.5-0.5v-1.886c0-1.475-0.934-2.8-2.323-3.296L15,15.648v-2.206
                                                        c1.503-1.162,2.594-3.348,2.489-5.704c-0.839,0.294-1.655,0.348-1.948,0.348c-1.194,0-2.134-0.525-2.931-1.635
                                                        C11.756,7.347,10.249,8,8.875,8C8.092,8,7.441,7.859,6.527,7.372z"/>
                                                </g>
                                            </g>
                                            <g >
                                            </g>
                                        </g>
                                        <g >
                                            <rect fill="none" width="24" height="24"/>
                                        </g>
                                        </svg>
                                    </div>
                                </div>
                                
                                <div class="login-dropdown">
                                    <div class="login-dropdown-content loginform-dropdown">
                                        <div class="login-form">
                                            <form action="#">
                                                <input type="text" name="email-login" placeholder="Email Address">
                                                <input type="password" name="pass-login" placeholder="Password">
                                                <button class="btn-main btn-login">LOG IN</button>
                                                <a href="02_Login_03_ForgotPassword.html" class="forgot-pass">Forgot your password?</a>
                                            </form>
                                        </div>
                                        <div class="social-login">
                                            <span class="or"><span>Or</span></span>
                                            <a href="#" class="fb-login"><span>Log in with Facebook</span></a>
                                            <a href="#" class="gplus-login"><span>Log in with Google</span></a>
                                        </div>
                                        <div class="sign-up">
                                            <a href="02_Login_01_SignUp.html">Need an account? Sign up</a>
                                        </div>
                                        <div class="btn-chat">
                                            <button>Chat with support</button>
                                        </div>
                                        <div class="info-login">RESTAURANT LOGIN</div>
                                    </div>
                                    <div class="login-dropdown-content signup-dropdown">
                                        <div class="login-form signup-form">
                                            <div class="title-top">
                                                <div class="title">Sign Up</div>
                                                <a href="02_Login.html" class="back-login"><span>LOGIN</span></a>
                                            </div>
                                            <form action="#">
                                                <input type="text" name="name-signup" placeholder="Full Name">
                                                <input type="text" name="phone-signup" placeholder="Phone Number">
                                                <input type="text" name="email-signup" placeholder="Email Address">
                                                <input type="password" name="pass-signup" placeholder="Password">
                                                <input type="password" name="pass-confirm-signup" placeholder="Confirm Password">
                                                <button class="btn-main btn-login btn-signup">SIGN UP</button>
                                            </form>
                                        </div>
                                        <div class="social-login">
                                            <span class="or"><span>Or</span></span>
                                            <a href="#" class="fb-login"><span>Log in with Facebook</span></a>
                                            <a href="#" class="gplus-login"><span>Log in with Google</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="header-content">
                <div class="slogan-form">
                    <h2 class="large wow fadeIn" data-wow-duration="1s">Grow With GOF3R</h2>
                    <div class="btn-center wow fadeIn" data-wow-duration="3s">
                        <button id="btnStart" class="btn-main btn-getstart">GET STARTED</button>
                    </div>
                </div>
            </div>-->
        </div>
    </header>
    <main>
        <!--<div class="block-info-wrap">
            <div class="container">
                <div class="row">
                    <div class="block-info-content col-12 col-md-4">
                        <div class="block-info-top wow slideInUp" data-wow-duration="0.5s">
                            <h3 class="title">Get More Orders</h3>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac suscipit lorem augue ante.</div>
                        </div>
                    </div>
                    <div class="block-info-content col-12 col-md-4">
                        <div class="block-info-top wow slideInUp" data-wow-duration="1s">
                            <h3 class="title">No New Work</h3>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac suscipit lorem augue ante.</div>
                        </div>
                    </div>
                    <div class="block-info-content col-12 col-md-4">
                        <div class="block-info-top wow slideInUp" data-wow-duration="1.5s">
                            <h3 class="title">Remain In Control</h3>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac suscipit lorem augue ante.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="download-app-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="download-content wow slideInLeft" data-wow-duration="1s">
                            <div class="download-info">
                                <h3 class="title">TEAM UP<br/>WITH CONFIDENCE</h3>
                                <div class="text">Thousands of restaurants trust GOF3R to deliver fresh food, fast.<br/>With North America's most advanced food delivery technology, your<br/>customers will be delighted to order through GOF3R.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="restourant-apply-wrap">
            <div class="container">
                <div class="restourant-apply restaurant-form" >
                    <!--<div class="quote text-center">
                        <img src="assets/images/ico-quote.png" alt="">
                        <div class="text">
                            Customers are leading busier lives. Skip provides us with a way of<br>reaching customers when they aren't able to come dine in.<br>We're benefiting from a completely new revenue<br>stream now. We love it.
                            <div class="small">Mark, Kinjo Sushi and Grill</div>
                        </div>
                    </div>-->
                    <div class="form-apply">
                        <div class="title">Get Started</div>
                        <div class="text">Leave us your contact details and we’ll be in touch soon.</div>
                        <form action="#">
                            <div class="input-apply">
                                <label for="restaurant-name" class="label">Restaurant Name <span class="note">Required</span></label>
                                <input id="restaurant-name" type="text" name="restaurant-name">
                            </div>
                            <div class="input-apply">
                                <label for="contactnane-input" class="label">Contact Name <span class="note">Required</span></label>
                                <input id="contactnane-input" type="text" name="contact-name">
                            </div>
                            <div class="input-apply">
                                <label for="phone-input" class="label">Contact Phone <span class="note">Required</span></label>
                                <input id="phone-input" type="text" name="contact-phone">
                            </div>
                            <div class="input-apply">
                                <label for="email-input" class="label">Email <span class="note">Required</span></label>
                                <input id="email-input" type="text" name="email-email">
                            </div>
                            <div class="input-apply">
                                <label for="address-input" class="label">Restaurant Address <span class="note">Required</span></label>
                                <input id="address-input" type="text" name="restaurant-address">
                            </div>
                            <div class="input-apply">
                                <label for="else-input" class="label">Anything else we should know? <span class="note">Required</span></label>
                                <textarea name="else" id="else-input" rows="10"></textarea>
                            </div>
                            <button class="btn-main btn-apply"><span>GOF3R IT</span></button>
                        </form>
                        <!--<div class="login-here">
                            <div class="text">Already a member of the network? Email us at restaurants@GOF3R.com with any questions or click below to log into your GOF3R Restaurant Portal.</div>
                            <a href="02_Login.html">LOGIN HERE</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </main>
    <gof3r-footer></gof3r-footer>
    <!-- Optional JavaScript -->
    
</body>