<body class="cms-page">
    <header>
        <div class="header-wrap">
            <div class="header-top">
                <header-checkout></header-checkout>
            </div>
        </div>
    </header>
    <main>
        <div class="about-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <footer-left></footer-left>
                    </div>
                    
                     <div class="col-12 col-md-9">
                        <div class="cms-content cms-faq">
                            <h2 class="page-title">FAQ</h2>
                            <div class="text-content" style="color: #000000">
                                <div class="faq-title">About GOF3R</div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#1" role="button" aria-expanded="false" aria-controls="collapseExample">How is GOF3R different from the rest of the guys out there?</div>
                                    <blockquote class="collapse" id="1">Well, for starters, we offer you the option of a pick-up service from your favourite F&B outlets, specialty butcher or regular minimart. You can order ahead, skip the queue and pick up at your preferred time and outlet. Never again wait in line for your favourite chicken rice.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>

                                
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#2" role="button" aria-expanded="false" aria-controls="collapseExample">But wait, why would I want to do that, when I can have it delivered?</div>
                                    <blockquote class="collapse" id="2">Because let’s face it, nobody likes to wait in line, especially during that precious lunchbreak. Plus, there are those crazy days when you’ll need to head to the bank, drop off the dry-cleaning and run a million other errands at lunchbreak and be back at work by 2pm. And you really don’t want to munch on a cold sandwich at the end of it.<br /><br />
                                    So you order ahead, get all your errands sorted and pick up that perfectly al dente box of carbonara on your way back to work.<br /><br />
                                    Although sometimes, it’s just really nice to get out, move those legs and take a breather.

                                    </blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>

                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#3" role="button" aria-expanded="false" aria-controls="collapseExample">You have a point. So what else is new with GOF3R?</div>
                                    <blockquote class="collapse" id="3">What’s new as well, is the option to group multiple orders into one. <br /><br />
                                    Say it’s lunchtime on a busy work day, Peter, Janice, Sue and you are all craving for the best nasi lemak from around the corner. You each place your customised order through GOF3R, then transfer your order to Sue. Sue then combines all 4 orders into one, and heads out to pick up the nasi lemak.

                                    </blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>

                                 <div class="faq-content">
                                    <div class="faq-question" data-toggle="collapse" href="#4" role="button" aria-expanded="false" aria-controls="collapseExample">That is nifty! Does GOF3R deliver as well?</div>
                                    <blockquote class="collapse" id="4">Yes! We are also in the business of making your life a little easier. If you so choose to sit back, relax and let us do all the work, we’ll have a piping hot meal delivered right to your doorstep in no time.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#5" role="button" aria-expanded="false" aria-controls="collapseExample">Alright. I am ready to place my first order with GOF3R. How do I go about it?</div>
                                    <blockquote class="collapse" id="5">First, let us know your location, then go ahead to select pick up or delivery. We’ll round up the best makan places or merchants nearest to you. Spy something that tickles those tastebuds? Browse the menu, add to cart, choose your preferred payment mode and you’re done!</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-title">Pick Up</div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#6" role="button" aria-expanded="false" aria-controls="collapseExample">Are there any extra charges for pick up?</div>
                                    <blockquote class="collapse" id="6">No, there isn’t. If you choose to pick up your order from the merchant, you pay only for the items you’ve ordered.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#7" role="button" aria-expanded="false" aria-controls="collapseExample">What about a minimum spend?</div>
                                    <blockquote class="collapse" id="7">Nope, there isn’t any minimum order value for pick up.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#8" role="button" aria-expanded="false" aria-controls="collapseExample">What happens when I arrive to pick up my order?</div>
                                    <blockquote class="collapse" id="8">Open up GOF3R, go to Orders and find your current order. Verify the order number with the merchant and they’ll hand over your order. </blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#9" role="button" aria-expanded="false" aria-controls="collapseExample">What if I am late to pick up my order?</div>
                                    <blockquote class="collapse" id="9">To preserve the freshness and quality of the food or produce, we highly encourage you to pick up within the timeslot you’ve selected. If for any reason, you may be running late, please drop us a note at support@gof3r.com or 6538 2363, so that we may inform the merchant.<br /><br />
                                    Any food not picked up within 60 minutes after the scheduled pick up timeslot will be disposed of and you will be charged for this order. <br /><br />
                                    Under these circumstances, the merchant is not obliged to prepare a new order.

                                    </blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#10" role="button" aria-expanded="false" aria-controls="collapseExample">Oops. I changed my mind. Can I cancel my order?</div>
                                    <blockquote class="collapse" id="10">Unfortunately, once an order has been placed, we are not able to cancel the order. But this just means you’ll be enjoying a delicious meal very soon!</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#11" role="button" aria-expanded="false" aria-controls="collapseExample">What if something is wrong with my order?</div>
                                    <blockquote class="collapse" id="11">For pick up, we suggest you check all items in your order thoroughly before walking away from the merchant’s premises. If there is a discrepancy in the order, please show your order details to the staff.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#12" role="button" aria-expanded="false" aria-controls="collapseExample">How does Group Order work?</div>
                                    <blockquote class="collapse" id="12">Glad you asked! If there are multiple orders placed from the same merchant, only one person needs to pick up the order, simply by combining the separate orders.<br /><br />
                                    Say Peter orders his favourite nasi lemak. At checkout, he selects Group Order, then pays for his order as usual. He then finds this current order and transfers it to Sue (the designated picker-upper). Sue will combine both orders (hers and Peter’s) into one consolidated order which will then be sent to the merchant for due preparation. That’s it.<br /><br />
                                    At point of pick up, all Sue has to do is verify the combined order number and details before collecting the delicious nasi lemak. 

                                    </blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#13" role="button" aria-expanded="false" aria-controls="collapseExample">Does Group Order work with different merchants?</div>
                                    <blockquote class="collapse" id="13">Not at this point in time. You and the tribe will have to order from the same merchant in order to enjoy Group Order.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                 <div class="faq-title">Delivery</div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#14" role="button" aria-expanded="false" aria-controls="collapseExample">Why is there a minimum spend on every order?</div>
                                    <blockquote class="collapse" id="14">We are in the business of providing great service and value to both you and our merchants, so in order to make their business viable, most places require a minimum spend.<br /><br />
                                    Currently, the minimum order value is $15, which won’t take you long to fulfil. In some instances, when we work with selected partners to offer specific promotions, the minimum order value may be higher than $15.

                                    </blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#15" role="button" aria-expanded="false" aria-controls="collapseExample">What if I can’t meet the minimum order value?</div>
                                    <blockquote class="collapse" id="15">There will be a surcharge of $4.50 added to your order total.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                 <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#16" role="button" aria-expanded="false" aria-controls="collapseExample">Is there a delivery charge?</div>
                                    <blockquote class="collapse" id="16">Nope! Delivery is on us - how awesome is that?<br />
                                    So start filling up your cart with yummy goodness, and order from as many merchants as you like, before we change our minds!
                                    </blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                 <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#17" role="button" aria-expanded="false" aria-controls="collapseExample">Oops. I changed my mind. Can I cancel my order?</div>
                                    <blockquote class="collapse" id="17">Unfortunately, once an order has been placed, we are not able to cancel the order. But this just means you’ll be expecting a delicious meal very soon!</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                 <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#18" role="button" aria-expanded="false" aria-controls="collapseExample">What if something is wrong with my order?</div>
                                    <blockquote class="collapse" id="18">Fret not. We have a dedicated customer service team that is on hand to answer any queries or provide additional support should you need it. Contact us at support@gof3r.com or 6538 2363 and we’ll get right to it. Or PM us at our official FB:<br /><br />
                                    <a href="https://www.facebook.com/gof3rit/" target="bank">https://www.facebook.com/gof3rit/</a>
                                    </blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question" data-toggle="collapse" href="#19" role="button" aria-expanded="false" aria-controls="collapseExample">I forgot to add an item to my order! How now?</div>
                                    <blockquote class="collapse" id="19">Currently, you would have to place a new order if you’ve forgotten an item.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question" data-toggle="collapse" href="#20" role="button" aria-expanded="false" aria-controls="collapseExample">What is your delivery time like?</div>
                                    <blockquote class="collapse" id="20">At the moment, we have GOF3R riders zipping the streets from 11.30am to 9pm to satisfy that hungry belly of yours. All last orders should be placed by 830pm for the day. </blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#21" role="button" aria-expanded="false" aria-controls="collapseExample">Can I reschedule my delivery?</div>
                                    <blockquote class="collapse" id="22">Orders are processed immediately after you place them, so it is not possible to reschedule a delivery.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#22" role="button" aria-expanded="false" aria-controls="collapseExample">What if my delivery order is late?</div>
                                    <blockquote class="collapse" id="22">We are constantly striving to exceed your expectations, although our riders may at times be stuck in unforeseen circumstances, such as a heavy downpour or horrid traffic conditions. In times like these, we will be calling you to inform you of the delay and the soonest expected delivery time.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#23" role="button" aria-expanded="false" aria-controls="collapseExample">What happens if I am not around to receive my order?</div>
                                    <blockquote class="collapse" id="23">Just let us know via support@gof3r.com or 6538 2363 that you won’t be in time to receive your order.<br /><br />
                                    Our rider will try to call you upon arriving at your delivery address and if they can’t reach you, our customer service team will take over and try to contact you through your phone and email, so it’s a good idea to be keep your mobile phone close by during the delivery time for any updates.<br /><br />
                                    If we are still unable to reach you, our rider will wait up to 10 minutes before leaving to complete the next order. In this case, you will be charged for your order. 

                                    </blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                 <div class="faq-content">
                                    <div class="faq-question" data-toggle="collapse" href="#24" role="button" aria-expanded="false" aria-controls="collapseExample">Can’t your rider leave the food outside my door?</div>
                                    <blockquote class="collapse" id="24">For food safety reasons, we wouldn’t recommend it. Plus, we cannot ensure that your hungry neighbour or an eager stray won’t get to the food first. However, if you would like us to do that, please drop us a note at checkout or call at 6538 2363 to inform us.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                 <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#25" role="button" aria-expanded="false" aria-controls="collapseExample">Can I view or monitor my order(s)?</div>
                                    <blockquote class="collapse" id="25">Yes! Just tap on Orders to view all your current, received, transferred and completed orders you’ve made.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#26" role="button" aria-expanded="false" aria-controls="collapseExample">Can I order alcohol on GOF3R?</div>
                                    <blockquote class="collapse" id="26"> Yes! Just tap on Orders to view all your current, received, transferred and completed orders you’ve made.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#28" role="button" aria-expanded="false" aria-controls="collapseExample">Do I have to tip?</div>
                                    <blockquote class="collapse" id="28">Tipping is not mandatory but if you like the service our rider has provided, why not? 100% of tips received go to our riders so it will most certainly make their day. You can choose to leave a tip in-app prior to payment or tip in cash at point of delivery.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#29" role="button" aria-expanded="false" aria-controls="collapseExample">What about food allergies?</div>
                                    <blockquote class="collapse" id="29">Let us know. Just indicate any preferences or allergies you may have in Special Requests with each item that you order so the merchant will take note.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-title">Payment</div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#30" role="button" aria-expanded="false" aria-controls="collapseExample">What are the payment options available?</div>
                                    <blockquote class="collapse" id="30">Currently, you can pay with Visa, Mastercard credit and debit cards or GOF3R points.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#31" role="button" aria-expanded="false" aria-controls="collapseExample">Points? What’s that?</div>
                                    <blockquote class="collapse" id="31">This is a currency unique to GOF3R. With points, you’ll be able to enjoy special offers and deals like no other.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#32" role="button" aria-expanded="false" aria-controls="collapseExample">Sweet. How do I get these GOF3R points?</div>
                                    <blockquote class="collapse" id="32">You can buy points when you top up your GOF3R wallet. Choose a credit or debit card and purchase points like you would a regular item, except you gain GOF3R points instead!</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#34" role="button" aria-expanded="false" aria-controls="collapseExample">How do I add my credit/debit card?</div>
                                    <blockquote class="collapse" id="34">When you place an order on GOF3R, you’ll be prompted to choose a payment option. Add a new card if this is your first time.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#35" role="button" aria-expanded="false" aria-controls="collapseExample">How do I use a promo code?</div>
                                    <blockquote class="collapse" id="35">If you have one (lucky you!) - enter the promo code when reviewing your cart details (before you gof3r it!) and we’ll apply the discount or offer to your order. Terms and conditions may apply.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#36" role="button" aria-expanded="false" aria-controls="collapseExample">When will I be charged?</div>
                                    <blockquote class="collapse" id="36">Payment is charged as soon as you place an order.</blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <div class="faq-content">
                                    <div class="faq-question"data-toggle="collapse" href="#37" role="button" aria-expanded="false" aria-controls="collapseExample">Can I get a refund for my order?</div>
                                    <blockquote class="collapse" id="37">Yes, but only under some very special circumstances.<br />

                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• There is a missing item from your order.<br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• A wrong item was delivered.<br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• The merchant has run out of the item you ordered.<br /><br />
                                            The refunded value will be credited to your account in-app, in the form of credits which you can offset from your next order total.
                                    </blockquote>
                                    <!--<a href="#" class="faq-question">Where does GOF3R operate?</a>
                                    <a href="#" class="faq-question">Where can I leave comments / feedback for GOF3R?</a>-->
                                </div>
                                <!--<div class="faq-other">
                                    <div class="title">Placing an Order</div>
                                    <a href="#" class="faq-question">How do I order from a restaurant using GOF3R?</a>
                                    <a href="#" class="faq-question">How do I know if the restaurant received my order?</a>
                                    <a href="#" class="faq-question">How do I know if the restaurant accepted my order?</a>
                                    <a href="#" class="faq-question">What happens if the restaurant does not accept my order?</a>
                                    <a href="#" class="faq-question">Can I track my order on a map?</a>
                                    <a href="#" class="faq-question">How do I use my GOF3R voucher code?</a>
                                    <a href="#" class="faq-question">Do I need to use the voucher in a single order?</a>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <gof3r-footer></gof3r-footer>
    
</body>