<body class="cms-page">
    <header>
        <div class="header-wrap">
            <div class="header-top">
                <div class="main-menu">
                    <h1 class="logo text-hide"><a href=""><img src="assets/images/logo-white.png" alt=""><span>GOF3R</span></a></h1>
                    <div class="top-action">
                        <div class="user-login user-account">
                            <div class="account">Account</div>
                            <div class="login-wrap">
                                <div class="login">
                                    <div class="d-none d-md-block">LOG IN</div>
                                    <div class="d-block d-md-none">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                        <g >
                                            <g >
                                                <g>
                                                    <path fill="#FFFFFF" d="M8.875,7c1.308,0,2.861-0.776,3.322-1.661c0.084-0.162,0.251-0.265,0.434-0.269
                                                        c0.226,0.014,0.353,0.093,0.444,0.252c0.853,1.494,1.755,1.967,3.206,1.687c0.032-0.007,0.543-0.134,1.113-0.275
                                                        C16.894,3.754,14.666,1.5,12,1.5c-2.54,0-4.678,2.049-5.307,4.819C7.596,6.875,8.239,7,8.875,7z"/>
                                                    <path fill="#FFFFFF" d="M6.527,7.372C6.344,10.156,7.497,12.279,9,13.441v2.206l-4.678,1.671C2.933,17.815,2,19.14,2,20.614V22.5
                                                        C2,22.776,2.224,23,2.5,23h19c0.276,0,0.5-0.224,0.5-0.5v-1.886c0-1.475-0.934-2.8-2.323-3.296L15,15.648v-2.206
                                                        c1.503-1.162,2.594-3.348,2.489-5.704c-0.839,0.294-1.655,0.348-1.948,0.348c-1.194,0-2.134-0.525-2.931-1.635
                                                        C11.756,7.347,10.249,8,8.875,8C8.092,8,7.441,7.859,6.527,7.372z"/>
                                                </g>
                                            </g>
                                            <g >
                                            </g>
                                        </g>
                                        <g >
                                            <rect fill="none" width="24" height="24"/>
                                        </g>
                                        </svg>
                                    </div>
                                </div>
                                
                                <div class="login-dropdown">
                                    <div class="login-dropdown-content loginform-dropdown">
                                        <div class="login-form">
                                            <form action="#">
                                                <input type="text" name="email-login" placeholder="Email Address">
                                                <input type="password" name="pass-login" placeholder="Password">
                                                <button class="btn-main btn-login">LOG IN</button>
                                                <a href="02_Login_03_ForgotPassword.html" class="forgot-pass">Forgot your password?</a>
                                            </form>
                                        </div>
                                        <div class="social-login">
                                            <span class="or"><span>Or</span></span>
                                            <a href="#" class="fb-login"><span>Log in with Facebook</span></a>
                                            <a href="#" class="gplus-login"><span>Log in with Google</span></a>
                                        </div>
                                        <div class="sign-up">
                                            <a href="02_Login_01_SignUp.html">Need an account? Sign up</a>
                                        </div>
                                        <div class="btn-chat">
                                            <button>Chat with support</button>
                                        </div>
                                        <div class="info-login">RESTAURANT LOGIN</div>
                                    </div>
                                    <div class="login-dropdown-content signup-dropdown">
                                        <div class="login-form signup-form">
                                            <div class="title-top">
                                                <div class="title">Sign Up</div>
                                                <a href="02_Login.html" class="back-login"><span>LOGIN</span></a>
                                            </div>
                                            <form action="#">
                                                <input type="text" name="name-signup" placeholder="Full Name">
                                                <input type="text" name="phone-signup" placeholder="Phone Number">
                                                <input type="text" name="email-signup" placeholder="Email Address">
                                                <input type="password" name="pass-signup" placeholder="Password">
                                                <input type="password" name="pass-confirm-signup" placeholder="Confirm Password">
                                                <button class="btn-main btn-login btn-signup">SIGN UP</button>
                                            </form>
                                        </div>
                                        <div class="social-login">
                                            <span class="or"><span>Or</span></span>
                                            <a href="#" class="fb-login"><span>Log in with Facebook</span></a>
                                            <a href="#" class="gplus-login"><span>Log in with Google</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="about-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="sidebar-wrap d-none d-md-block">
                            <ul class="sidebar-top">
                                <li class="active"><a href="06_Account.html"><span>My Profile</span></a></li>
                                <li><a href="06_Account_01_PaymentOptions.html"><span>PAYMENT OPTIONS</span></a></li>
                                <li><a href="06_Account_02_Address.html"><span>Delivery Addresses</span></a></li>
                                <li><a href="06_Account_03_OrderHistory.html"><span>Order History</span></a></li>
                                <li><a href="06_Account_04_ReferFriends.html"><span>Refer Friends</span></a></li>
                                <li><a href="#"><span>Settings</span></a></li>
                                <li><a href="06_Account_05_Help.html"><span>Help</span></a></li>
                            </ul>
                            <div class="sb-logout-wrap">
                                <a href="#" class="btn-main btn-logout-sidebar">Log out</a>
                            </div>
                        </div>

                        <div class="page-active d-block d-md-none">
                            <div class="title"><span>My Profile</span></div>
                        </div>
                        <div class="sidebar-wrap sidebar-mobile">
                            <ul class="sidebar-top">
                                <li><a href="06_Account_01_PaymentOptions.html"><span>PAYMENT OPTIONS</span></a></li>
                                <li><a href="06_Account_02_Address.html"><span>Delivery Addresses</span></a></li>
                                <li><a href="06_Account_03_OrderHistory.html"><span>Order History</span></a></li>
                                <li><a href="06_Account_04_ReferFriends.html"><span>Refer Friends</span></a></li>
                                <li><a href="#"><span>Settings</span></a></li>
                                <li><a href="06_Account_05_Help.html"><span>Help</span></a></li>
                            </ul>
                            <div class="sb-logout-wrap">
                                <a href="#" class="btn-main btn-logout-sidebar">Log out</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-9">
                        <div class="cms-content">
                            <h2 class="page-title">My Profile</h2>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="account-form">
                                        <div class="acc-input">
                                            <label for="acc-name"><span>Full Name</span> <span class="right">Required</span></label>
                                            <input type="text" id="acc-name">
                                        </div>
                                        <div class="acc-input">
                                            <label for="acc-birth"><span>Birthday</span></label>
                                            <input type="text" id="acc-birth">
                                        </div>
                                        <div class="acc-radio">
                                            <div class="title">Gender</div>
                                            <div class="acc-gender">
                                                <input type="radio" id="acc-male" name="acc-gender">
                                                <label for="acc-male"><span>Male</span></label>
                                            </div>

                                            <div class="acc-gender">
                                                <input type="radio" id="acc-fe" name="acc-gender">
                                                <label for="acc-fe"><span>Female</span></label>
                                            </div>
                                        </div>
                                        <div class="acc-input">
                                            <label for="acc-phone"><span>Phone Number</span> <span class="right">Veirfied</span></label>
                                            <input type="text" id="acc-phone">
                                        </div>
                                        <div class="acc-input">
                                            <label for="acc-email"><span>Email</span> <span class="right">Required</span></label>
                                            <input type="text" id="acc-email">
                                        </div>
                                        <div class="acc-input">
                                            <label for="acc-pass"><span>Password</span> <a href="02_Login_03_ForgotPassword.html" class="right">Change Password Now?</a></label>
                                            <input type="password" id="acc-pass">
                                        </div>
                                        <button class="btn-main btn-save-acc"><span>SAVE</span></button>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="link-social social-login">
                                        <a href="#" class="link-fb fb-login"><span>Link Your Facebook Account</span></a>
                                        <a href="#" class="link-fb gplus-login"><span>Link Your Google Account</span></a>
                                    </div>
                                    <div class="order-update-noti">
                                        <div class="title">Order Update Notification:</div>
                                        <div class="text">Track the progress of your order with instant updates.</div>
                                    </div>
                                    <div class="mess-update-wrap">
                                        <input type="checkbox" id="mess-update" checked="checked">
                                        <label for="mess-update">I want to receive <strong>Text Message</strong> updates*</label>
                                        <div class="text">*Regular carrier charges may apply</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-wrap">
            <div class="container">
                <div class="footer-top">
                    <ul class="footer-links">
                        <li><a href="03_About.html">ABOUT</a></li>
                        <li><a href="#">GIFT CARDS</a></li>
                        <li><a href="03_About_01_RestaurantOwners.html">RESTAURANT OWNERS</a></li>
                        <li><a href="#">PRIVACY</a></li>
                        <li><a href="#">TERMS</a></li>
                        <li><a href="03_About_02_FAQ.html">FAQ</a></li>
                        <li><a href="03_About_03_BecomeCourier.html">BECOME A COURIER</a></li>
                        <li><a href="#">CAREERS</a></li>
                        <li><a href="03_About_04_ContactUs.html">CONTACT US</a></li>
                    </ul>
                </div>
                <div class="footer-bottom">
                    <ul class="social-links">
                        <li><a href="#"><img src="assets/images/ico-twitter.jpg" alt=""></a></li>
                        <li><a href="#"><img src="assets/images/ico-fb.jpg" alt=""></a></li>
                        <li><a href="#"><img src="assets/images/ico-gplus.jpg" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!--<script src="js/bootstrap.min.js"></script>
    <script>
        new WOW().init();
    </script>-->
</body>