<footer>
        <div class="footer-wrap">
            <div class="container">
                <div class="footer-top">
                    <ul class="footer-links">
                        
                        <li (click)="aboutClick()"><a >ABOUT</a></li>
                        <!--<li><a href="#">GIFT CARDS</a></li>-->
                        <li><a [routerLink]="['/restaurant-owner']">RESTAURANT OWNERS</a></li>
                        <li (click)="privacyClick()"><a>PRIVACY</a></li>
                        <li (click)="termsClick()"><a>TERMS</a></li>
                        <li (click)="faqClick()"><a>FAQ</a></li>
                        <li><a [routerLink]="['/become-courier']">BECOME A COURIER</a></li>
                        <li><a href="#">CAREERS</a></li>
                        <li><a [routerLink]="['/contact-us']"
                        >CONTACT US</a></li>
                    </ul>
                </div>
                <div class="footer-bottom">
                    <ul class="social-links">
                        <li><a href="#"><img src="assets/images/ico-twitter.jpg" alt=""></a></li>
                        <li><a href="#"><img src="assets/images/ico-fb.jpg" alt=""></a></li>
                        <li><a href="#"><img src="assets/images/ico-gplus.jpg" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
   