<footer>
        <div class="footer-wrap">
            <div class="container">
                <div class="footer-top">
                    <ul class="footer-links">
                        
                        <li style="color: #707070" (click)="aboutClick()"><a >ABOUT</a></li>
                        <!--<li><a href="#">GIFT CARDS</a></li>-->
                        <li style="color: #707070" (click)="merchantClick()"><a>Merchants</a></li>
                        <li style="color: #707070" (click)="privacyClick()"><a>PRIVACY</a></li>
                        <li style="color: #707070" (click)="termsClick()"><a>TERMS</a></li>
                        <li style="color: #707070" (click)="faqClick()"><a>FAQ</a></li>
                        <!--<li style="color: #707070"><a [routerLink]="['/become-courier']">BECOME A COURIER</a></li>-->
                        <!--<li style="color: gray" ><a href="#" class="disabled" tabindex="-1">CAREERS</a></li>-->
                        <li style="color: #707070"(click)="contactClick()" ><a>CONTACT US</a></li>
                    </ul>
                </div>
                <div class="footer-bottom">
                    <ul class="social-links">
                        <li><a href="https://www.instagram.com/gof3rit/" target="_blank"><img src="assets/images/ico-insta.jpg" alt=""></a></li>
                        <li><a href="https://www.facebook.com/gof3rit/" target="_blank"><img src="assets/images/ico-fb.jpg" alt=""></a></li>
                        <!--<li><a href="#"><img src="assets/images/ico-gplus.jpg" alt=""></a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
   