
                <div class="main-menu">
                    <h1 class="logo text-hide"><a href=""><img src="assets/images/logo.png" alt="" height="80" width="80"><span>GOF3R</span></a></h1>
                    <div class="top-action top-action-search">
                        
                       
                       
                        <div class="user-login user-account">
                            <div class="account">Account</div>
                            <div class="login-wrap">
                                <div id="user" (click)="checkShowPopup()" class="login">
                                    <div (click)="checkShowPopup()" id="user" class="d-none d-md-block">{{isLogin}}</div>
                                    <div  id="check-user" class="" style="display: none">{{isUserLogin}}</div>
                                    <!--<div id="user1" (click)="checkShowPopup()" class="d-block d-md-none">
                                        <svg version="1.1" id="user1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                        <g id="Filled_Icons_1_">
                                            <g id="Filled_Icons">
                                                <g>
                                                    <path fill="#FFFFFF" d="M8.875,7c1.308,0,2.861-0.776,3.322-1.661c0.084-0.162,0.251-0.265,0.434-0.269
                                                        c0.226,0.014,0.353,0.093,0.444,0.252c0.853,1.494,1.755,1.967,3.206,1.687c0.032-0.007,0.543-0.134,1.113-0.275
                                                        C16.894,3.754,14.666,1.5,12,1.5c-2.54,0-4.678,2.049-5.307,4.819C7.596,6.875,8.239,7,8.875,7z"/>
                                                    <path id="user1" fill="#FFFFFF" d="M6.527,7.372C6.344,10.156,7.497,12.279,9,13.441v2.206l-4.678,1.671C2.933,17.815,2,19.14,2,20.614V22.5
                                                        C2,22.776,2.224,23,2.5,23h19c0.276,0,0.5-0.224,0.5-0.5v-1.886c0-1.475-0.934-2.8-2.323-3.296L15,15.648v-2.206
                                                        c1.503-1.162,2.594-3.348,2.489-5.704c-0.839,0.294-1.655,0.348-1.948,0.348c-1.194,0-2.134-0.525-2.931-1.635
                                                        C11.756,7.347,10.249,8,8.875,8C8.092,8,7.441,7.859,6.527,7.372z"/>
                                                </g>
                                            </g>
                                            <g id="New_icons">
                                            </g>
                                        </g>
                                        <g id="Invisible_Shape">
                                            <rect fill="none" width="24" height="24"/>
                                        </g>
                                        </svg>
                                    </div>-->
                                </div>
                                <!--<div class="login">
                                    <div  id="user" class="d-none d-md-block">{{isLogin}}</div>
                                    <div  id="check-user" class="" style="display: none">{{isUserLogin}}</div>
                                    <div class="d-block d-md-none">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                                        <g id="Filled_Icons_1_">
                                            <g id="Filled_Icons">
                                                <g>
                                                    <path fill="#FFFFFF" d="M8.875,7c1.308,0,2.861-0.776,3.322-1.661c0.084-0.162,0.251-0.265,0.434-0.269
                                                        c0.226,0.014,0.353,0.093,0.444,0.252c0.853,1.494,1.755,1.967,3.206,1.687c0.032-0.007,0.543-0.134,1.113-0.275
                                                        C16.894,3.754,14.666,1.5,12,1.5c-2.54,0-4.678,2.049-5.307,4.819C7.596,6.875,8.239,7,8.875,7z"/>
                                                    <path fill="#FFFFFF" d="M6.527,7.372C6.344,10.156,7.497,12.279,9,13.441v2.206l-4.678,1.671C2.933,17.815,2,19.14,2,20.614V22.5
                                                        C2,22.776,2.224,23,2.5,23h19c0.276,0,0.5-0.224,0.5-0.5v-1.886c0-1.475-0.934-2.8-2.323-3.296L15,15.648v-2.206
                                                        c1.503-1.162,2.594-3.348,2.489-5.704c-0.839,0.294-1.655,0.348-1.948,0.348c-1.194,0-2.134-0.525-2.931-1.635
                                                        C11.756,7.347,10.249,8,8.875,8C8.092,8,7.441,7.859,6.527,7.372z"/>
                                                </g>
                                            </g>
                                            <g id="New_icons">
                                            </g>
                                        </g>
                                        <g id="Invisible_Shape">
                                            <rect fill="none" width="24" height="24"/>
                                        </g>
                                        </svg>
                                    </div>
                                </div>-->
                                <!--start popup user had login-->
                                <div class="login-dropdown-had">
                                    <div class="account-info">
                                        <ul>
                                            <li (click)="accountClick()">
                                                <div class="title">My Account</div>
                                                <a  class="link">View or edit your account details</a>
                                            </li>
                                            <li (click)="orderHistoryClick()">
                                                <div class="title">Order History</div>
                                                <a  class="link">View all your past orders</a>
                                            </li>
                                            <!--<li>
                                                <div class="title">Gift Cards</div>
                                                <a href="#" class="link">Purchase a GOF3R Gift Card</a>
                                            </li>-->
                                            <li (click)="inviteFriend()">
                                                <div class="title">Invite Friends</div>
                                                <a  class="link">Invite your friends, earn credits!</a>
                                            </li>
                                            <li (click)="help()">
                                                <div class="title">Help & Feedback</div>
                                                <a  class="link">Chat with our support team</a>
                                            </li>
                                        </ul>
                                        <div class="btn-logout-wrap">
                                            <button  class="btn-main btn-logout"><span>LOG OUT</span></button>
                                        </div>
                                    </div>
                                </div>
                                <!--end popup user had login-->

                                <!--start drop down user not login-->
                                <div class="showloginform login-dropdown">
                                    <div class="login-dropdown-content loginform-dropdown">
                                        <div class="login-form">
                                            <form action="">
                                                <input type="text" [(ngModel)]="this.inutUserName" name="email-login" placeholder="Email Address">
                                                <input type="password" [(ngModel)]="this.passWord" name="pass-login" placeholder="Password">
                                                <button class="btn-main btn-login" >LOG IN</button>
                                                <a href="02_Login_03_ForgotPassword.html" class="forgot-pass" [routerLink]="['/forgot-password']">Forgot your password?</a>
                                            </form>
                                        </div>
                                        <div class="social-login">
                                            <span class="or"><span>Or</span></span>
                                            <a href="#" class="fb-login"><span>Log in with Facebook</span></a>
                                            <a href="#" class="gplus-login"><span>Log in with Google</span></a>
                                        </div>
                                        <div class="sign-up">
                                            <a href="02_Login_01_SignUp.html">Need an account? Sign up</a>
                                        </div>
                                        <!--<div class="btn-chat">
                                            <button>Chat with support</button>
                                        </div>
                                        <div class="info-login">RESTAURANT LOGIN</div>-->
                                    </div>
                                    <div class="login-dropdown-content signup-dropdown">
                                        <div class="login-form signup-form">
                                            <div class="title-top">
                                                <div class="title">Sign Up</div>
                                                <a href="02_Login.html" class="back-login"><span>LOGIN</span></a>
                                            </div>
                                            <form>
                                                <input type="text"[(ngModel)]="this.signUp.FullName" name="name-signup" placeholder="Full Name">
                                                                                  <div class="input-group mb-3">
  <div class="input-group-prepend" style="cursor: pointer">
    <span class="input-group-text" id="basic-addon1">{{this.signUp.PhoneCode}}</span>
  </div>
  <input type="text" [(ngModel)]="this.signUp.PhoneNumber" name="phone-signup" placeholder="Phone Number"class="form-control" aria-label="Username" aria-describedby="basic-addon1">
</div>
                                                <input type="text" [(ngModel)]="this.signUp.Email" name="email-signup" placeholder="Email Address">
                                                <input type="password" [(ngModel)]="this.signUp.Password" name="pass-signup" placeholder="Password">
                                                <input type="password" [(ngModel)]="this.signUp.ConfrimPassword" name="pass-confirm-signup" placeholder="Confirm Password">
                                                <button  class="btn-main btn-login btn-signup">SIGN UP</button>
                                                <!--<button class="btn-main btn-login btn-signup">SIGN UP</button>-->
                                            </form>
                                        </div>
                                        <div class="social-login">
                                            <span class="or"><span>Or</span></span>
                                            <a href="#" class="fb-login"><span>Log in with Facebook</span></a>
                                            <a href="#" class="gplus-login"><span>Log in with Google</span></a>
                                        </div>
                                    </div>
                                    <div class="login-dropdown-content signup-dropdown-otp">
                                        <div class="verifi-code">
                                            <div class="title">Enter Your Code</div>
                                            <div class="text">We sent a verification code to you at {{this.signUp.PhoneCode}}{{this.signUp.PhoneNumber}}</div>
                                            <div class="code">
                                                <input type="text"  maxlength="6">
                                                <div class="row">
                                                    <div class="col-2"><div class="bor"></div></div>
                                                    <div class="col-2"><div class="bor"></div></div>
                                                    <div class="col-2"><div class="bor"></div></div>
                                                    <div class="col-2"><div class="bor"></div></div>
                                                    <div class="col-2"><div class="bor"></div></div>
                                                    <div class="col-2"><div class="bor"></div></div>
                                                </div>
                                                <button class="btn-sendcode"><span id="per" class="per" style="width: 40%;"></span><span class="send">RESEND CODE</span></button>
                                                <div class="get-sms"><a href="#">Didn’t get the SMS?</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end drop down user not login-->
                            </div>
                        </div>
                    </div>
                </div>
  <block-ui>
      <!-- Your app markup here -->
    </block-ui>

                
       