@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  
  
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

}

#address-section
{
    height: 700px;
    background-image: url("../images/gof3r_background.jpg");
    background-size: cover;
    background-position: center;
    
}
.nodata{
  border: 1px solid red !important
}
.active-button{
  border-color: #8e49fe !important;
  background-color: #8e49fe !important;
  color: #fff !important
}
.cms-page .main-menu {
    background: #ffffff;
    vertical-align: top;
}
.login-dropdown-step2 {
  width: 342px;
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 22px;
  z-index: 101;
  display: none;
}
.acc-top .login-dropdown-step2 {
    right: -25px;
}

.login-dropdown-step3 {
  width: 342px;
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 22px;
  z-index: 101;
  display: none;
}

.login-dropdown-had {
  width: 342px;
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 22px;
  z-index: 101;
  display: none;
}
.login-dropdown-otp {
  width: 342px;
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 22px;
  z-index: 101;
  display: none;
}
.acc-top .login-dropdown-step3 {
    right: -25px;
}
.map-icon-center{
    background-image: url('/assets/images/house-black.png');
    position: absolute;
    z-index: 100;
    background-size: 100%;
    top: 50%;
    left: 50%;
    margin-left: -28px;
    margin-top: -41px;
    width: 56px;
    height: 63px;
}
.map-wrap >img
{
    width: 100%;
}

.div-left{
  height: 50px;
  background-color: green;
  margin-top: 5px;
  
}
.center-content{
  height: 550px;
  background-color: teal;
  width: 100%
}
.map-icon img{
  width: 100%;
}
.food-title-1 a{
      font-size: 18px;
    font-weight: 500;
    color: #2e3333;
}
.food-detail-1 .rating-star {
  margin-top: -5px
}
.signup-dropdown-otp {
  display: none;
}
.reset-form .input-reset-wrap input[type="password"]{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    padding: 0 15px;
    border: 1px solid #ccc;
}
.gof3r-error{
  color: #dc3545 !important;
}
.alert-error{

    box-shadow: none;
    border: none;
    outline: none;
    color: #721c24;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    display: inline-block;
    border-radius: 3px;
    padding: 0 15px;
    width: 100%;
    margin-top: 20px;
}
.select-location{
  max-height: 400px;
  overflow: auto
}
.btn-changeaddres{
  width: 100%;
  border-radius: 0px
}
.order-note-1{
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
}
.order-history-wrap > div > div {
  padding: 8px !important;
}
.name-card input {
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: 5px 0;
    padding-right: 40px;
}
.name-card {
    padding: 0 20px;
    margin-bottom: 30px;
}
.issuing-country select{
  
  
    font-weight: 500;
}
.issuing-country{
   padding: 0 20px;
    margin-bottom: 30px;
}
.map-address .location-add {
   
    top: 1% !important;
   
}
.btc-delete-address{
  width: 100%;
}
.add-wrap{
  background-color: #fff;
  text-align: left;
}
.rate-gof3r{
    border-radius: 3px;
    color: #8e49fe;
    padding: 0 10px;
    display: inline-block;
    font-size: 14px;
    /* border: 1px solid #fff; */
    vertical-align: middle;
}
.image-info{
    
    height: 160px;
    width: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.display-flex{
  display: flex
}
.item-rice{
  text-align: right;
  position: absolute;
  right: 0;
  bottom: 5px;
}
@media (min-width: 1265px) {
  .image-info{
    -webkit-flex: 0 0 302px;
    flex: 0 0 302px;
  }
  
}
.acc-input span, .acc-input span div
{
  width: 100%;
}
.login1 {
  background: url('../images/ico-arrow-down.png') right 7px no-repeat !important;
  padding-right: 15px;
  font-size: 14px;
  cursor: pointer;
}
.faq-question
{
  cursor: pointer;
}
.item-checkout-wrap table td{
  padding: 0;
  border-top: 0;
}
.item-checkout-wrap table{
  margin-bottom: 0;
}
.item-checkout-wrap ul{
  list-style: none;
}
.item-checkout-wrap ul{
  padding-left: 2rem;
}
.item-info .price{
  float: right;
}
.item-info li{
  color: #9f9f9f;
    display: inline-block;
    width: 100%;
    padding-right: 40px;
}
.banner-outlet{
  padding: 85px 30px;
}
.outlet-name-rating{
    background: #fff;
    border: 1px solid #d9d9d9;
    padding: 20px;
    font-size: 15px;
    font-weight: 500;
}
.outlet-name-rating1{
    background: #fff;
    border: 1px solid #d9d9d9;
    font-size: 15px;
    font-weight: 500;
    padding: 15px
}

.main-top{
  background-position: center !important;
}
.outlet-about{
  /*background: url('../images/about.png') 0 0 no-repeat;*/
  background-size: cover;
  background-position: center;
  height: 25px;
    width: 25px;
    position: absolute;
    right: 2rem;
}
.outlet-time{
  background: #8E49FF;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  text-align: center;
  border: 1px solid;
  display: block;
  margin: auto;
  padding-top: 15px;
  box-shadow: 0 0 0 5px #8E49FF
}
.sticky {
  position: fixed;
  top: 150px;
  background: #fff;
  width: 200px;
    
  /*width: 100%;*/
}
.promo-mess-sticky {
  position: fixed;
  top: 100px;
  z-index: 10000;
  /*width: 100%;*/
}
.cart-sticky {
  position: fixed;
  /*top: 0;*/
  /*width: 100%;*/
}
.food-title-1{
  width: 250px;
}
.promo-mess{
  height: 60px;
    text-align: center;
    line-height: 60px;
    background: #ffad4c;
    color: #fff;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1
}
.cart-fixed{
  
  top: 160px;
  position: fixed;
  width: calc(100% - 74%);
}
.popup{
    position: relative;
    background: #f2f2f2;
    padding: 0;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.popup .title-popup {
    font-size: 24px;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 20px;
    display: inline-block;
    width: 100%;
}
.special-request{
  font-weight: 500;
  color: red;
  font-size: 18px
}
.plus{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    right: 20px;
    margin-top: -7px;
    background: url('../images/ico-plus.png') right center no-repeat;
    cursor: pointer
}
.close-gof3r{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    right: 20px;
    margin-top: -7px;
    background: url('../images/ico-close.png') right center no-repeat;
    cursor: pointer
}
.success-popup button{
  padding:  0 30px;
  margin-right: 10px
}
.margin-top-search{
  margin-top: 100px;
}
/*.restaurant-form{
  position: absolute;
  left: 0;
  right: 0;
  
}*/
@keyframes example {
    0%   {width: 0%}
    25%  {width: 25%}
    50%  {width: 50%}
    75% {width: 75%}
    100% {width: 100%}
}
.tracker{
      height: 100%;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
    background: #f5f5f5;
}
#partitioned {
  padding-left: 15px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
}
.white-popup .handle-bottom1 {
  display: inline-block;
  /*padding: 0 20px;
  margin-top: 5px;
  margin-bottom: 30px;*/
  position:  absolute;
  top: 12px;
  left: 60%;

}
.white-popup .handle-bottom1 .handle-counter1 {
  float: right;
}
.handle-counter1 .counter-minus1,
.handle-counter1 .counter-plus1,
.handle-counter1 input {
  float: left;
  text-align: center;
}
.handle-counter1 .counter-minus1,
.handle-counter1 .counter-plus1 {
  text-align: center;
}
.white-popup .handle-bottom1 .handle-counter1 button.counter-minus1 span {
  display: inline-block;
  line-height: 18px;
  vertical-align: top;
  color: #000;
}
.white-popup .handle-bottom1 .handle-counter1 button {
  /*height: 57px;*/
  border: 1px solid #ddd;
  background: #fff;
  width: 53px;
  font-size: 24px;
  outline: none;
  color: #000;
}
.white-popup .handle-bottom1.handle-counter1 input {
  /*height: 57px;*/
  width: 57px;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}
.form-apply1{
     /*padding: 50px 80px;*/
    background: #d9d9d9;
    max-width: 800px;
    margin: 0 auto;
    /*border: 1px solid #ddd;
    margin-bottom: 30px;*/
   
}
.form-apply1 input, .form-apply1 textarea {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    padding: 0 15px;
    border: 1px solid #ccc;
}
.form-apply1 label .note {
    float: right;
    /*color: #000;*/
}
.form-apply1 label {
    display: block;
    width: 100%;
}
.fixed-header{
  position: fixed;
  top: 0;
}
.outlet-banner-wrap1{
    
    padding-bottom: 0;
}
.item-checkout1{
  position: relative;
    padding: 10px 10px 10px 10px;
    /* background: #ffff; */
    font-size: 18px;
    font-weight: 600;
    background: #fff
}

.card-offer {
  display: flex;
  min-width: 100%;
  min-height: 200px;
  overflow-x: auto;
}

.card-offer::-webkit-scrollbar {
  display: none;
}
.card-offer--content {
  min-width: 300px;
  box-shadow: 3px 5px rgba(255,255,255,0.05);
}

.card-offer--content img {
  width: 100%;
  height: 100%;
}


